*{
  margin: 0;
  padding: 0;
}
html{
  color: #555;
  font-family:'arial', sans-serif;
  font-size: 20px;
}
.row{
  max-width: 1140px;
  margin: auto;
}
.nom{
  position:absolute;
  width: 1140px;
  top: 35%;
  background-color:#e67e22;
}
h1 {
  margin-top: 7px;
  color: white;
  text-align:center;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 3px;
  margin-bottom: 7px;
 
}

.div1{
 height: 100vh;
 background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(fabian-irsara-67l-QujB14w-unsplash.jpg)  ;
 background-size: cover ;
 background-position:center;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 25%;
  
  
}

.btn:link ,
.btn:visited{
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-one:link ,
.btn:visited {
border: 1px solid #e67e22;
background-color:#e67e22;
color: #ffffff;
}

.btn-two:link ,
.btn-two:visited {
border: 1px solid #e67e22;
color: #e67e22;
}
.btn-one:hover ,
.btn:active {
border: 1px solid #a15512;
background-color:#a15512;
color: #ffffff;
}

.btn-two:hover ,
.btn-two:active {
border: 1px solid #a15512;
background-color: #a15512;
color: white;

}
