*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  color: #555;
  font-family:'arial', sans-serif;
  font-size: 20px;
}

.div1{
 height: 100vh;
 background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(bg.jpeg) ;
 background-size: cover ;
 background-position:center;
}
.hero-text-box {
  position: absolute;
  width: 50%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.76), 0 6px 20px 0 rgba(0, 0, 0, 0.86);
  background-image: linear-gradient(rgba(0, 0, 0, 0.08),rgba(0, 0, 0, 0.6));
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-bottom: 5px;
}
.nom{
  width: 100%;
  margin-top: 4%;
  background-color:#D7CCC8;
  margin-bottom: 6%;
}
.num-tp{
  margin-left: 10%;
  margin-right: 10%;
  padding: 4px;
  border: 1px solid #D7CCC8;
  border-radius: 20px;
  background-color:#D7CCC8;
  margin-bottom: 2%;
}
h1 {
  color:#130C07;
  text-align:center;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 3px;

}
h4{
  color:#130C07;
  text-align:center;
  font-size: 120%;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 3px;

}
.ex{
display:flex;
justify-content:space-between;
margin: auto;
width: 60%;
  margin-left:10px;
}

.btn:link ,
.btn:visited{

  padding: 15px 15px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 4%;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}



.btn-one:link ,
.btn-one:visited {
border: 1px solid #D7CCC8;
color:#D7CCC8;
}

.btn-one:hover ,
.btn-one:active {
border: 1px solid #130C07;
background-color:#130C07;
color:  #ffffff;

}
